[submodule "/Users/shawn/dotfiles/deps/powerline-fonts"]
	path = deps/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "deps/zsh-history-substring-search"]
	path = deps/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "deps/zsh-completions"]
	path = deps/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "deps/zsh-syntax-highlighting"]
	path = deps/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "deps/base16-iterm2"]
	path = deps/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule "deps/vim-plug"]
	path = deps/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "deps/solarized"]
	path = deps/solarized
	url = https://github.com/altercation/solarized.git
[submodule "deps/Office-Code-Pro"]
	path = deps/office-code-pro
	url = https://github.com/nathco/Office-Code-Pro.git
