zsh/.zsh/.zsh_history

config/.config/nvim/autoload
config/.config/nvim/plugged
config/.config/nvim/spell/
config/.config/nvim/.netrwhist
config/.config/nvim/eclim/
config/.config/nvim/plugin

vim/.vim/autoload
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.netrwhist

deps/
