zsh/.zsh/.zsh_history
zsh/.zsh/.zcompdump

config/.config/nvim/autoload
config/.config/nvim/plugged
config/.config/nvim/spell/
config/.config/nvim/.netrwhist
config/.config/nvim/eclim/
config/.config/nvim/plugin
config/.config/nvim/.init.vim-rplugin~
config/.config/nvim/.nvimrc-rplugin~

vim/.vim/autoload
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.netrwhist

deps/
plugged
ftplugin
autoload
