zsh/.zsh/.zsh_history

nvim/.nvim/autoload
nvim/.nvim/plugged
nvim/.nvim/spell/
nvim/.nvim/.netrwhist
nvim/.nvim/eclim/
nvim/.nvim/plugin

vim/.vim/autoload
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.netrwhist
